@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #2e2e2e !important;
}

body {
  font-weight: 400;
}

[data-overlay-container="true"] {
  height: 100%;
  width: 100%;
}

.bg-content1 {
  background-color: #424242;
}

.fontSize10 {
  font-size: 10px;
}
