@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}

[data-overlay-container="true"] {
  height: 100%;
  width: 100%;
}

.text-foreground-500 {
  color: #f4f4f4 !important;
}

.bg-content1 {
  background-color: #424242;
}
